body{
	font-family: 'Rubik';
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
}
/*header*/
header{
	position: fixed;
	z-index: 1;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
}
.logo img{
	width: 206px;
	height: 80px;
	box-sizing: border-box;
}
.menu a{
	text-decoration: none;
	color: #252525;
}
.menu ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	list-style: none;
	margin: 0px;
	border: 0px;
	padding: 0px;
}
.menu li{
	padding: 5px;
	margin: 0px;
}
.logo-adalab{
	width: 150px;
	height: 70px;
	background-color: #fff;
	margin: 0px;
}
nav .menu{
	/*width: 160px;*/
	margin: 0px;
	border: 0px;
	padding: 0px;
}
nav{
	flex-direction: row;
}

/*Principal*/
main{
	flex: 1;
}
.backimage{
	height: 100vh;
	background: url('../images/banner_home_v3.jpeg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 75px;
}
.diversidad{
	padding-left: 20px;
	width: 200px;
}
.diversidad h1{
	color: #555555;
	font-size: 20px;

}

/*footer*/
footer{
	box-sizing: border-box;
	display:flex;
	background-color: #252525;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
}
.copyright{
	color: #555555;
	margin-left: 10px;
}
.cookies{
	color: #aaaaaa;
	margin-left: 20px;
	text-decoration: none;

}
/*Formulario*/
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
	padding-left: 20px;
	margin-bottom: 50px;
	padding-right: 20px;
	box-sizing: border-box;
	color: #555;
	text-align: justify;
	}
.cajitas{
	width: 90%;
}
.cajitas div{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 20px;
		margin: 10px;
	}
.cajitas label{
	width: 30%;
}
.intro span{
	color: #3CDBC0;
}
form input, textarea{
	border-radius: 5px;
	background-color: #f5f5f5;
}
.submit{
	color: #fff;
	padding: 5px;
	margin: 5px;
	background-color: #3CDBC0;
}
/*MEDIAS*/
@media all and (min-width: 500px) {
header{
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.menu ul{
	margin: 10px;
}

.text-link:hover {
  color: #3CDBC0;
	border-bottom: 3px solid #3CDBC0 ;
}
.intro{
	padding-right: 20px;
}
.diversidad h1{
	font-size: 38px;
}
footer{
	height: 70px;
}
.cajitas{
	width: 90%;
}
input.submit{
	width: 100px;
}
}

@media all and (min-width: 900px){
	.diversidad h1{
		font-size: 50px;
	}
	.backimage{
		height: 100vh;
		width: auto;
	}
footer{
	height: 90px;
}
.cajitas input, textarea{
	width: 800px;
}
input.submit{
	width: 100px;
}
}
/*Fin medias*/


/*Colores
#555555 gris oscuro
#aaaaaa gris clarito
#f5f5f5 gris más clarito
#3CDBC0 azul adalab
#252525 negro
#fff blanco absoluto */
