body{
	font-family: 'Rubik', serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
}
/*header*/
header{
	position: fixed;
	z-index: 1;
	background-color: red;
	display: flex;
	flex-wrap: wrap;
}
.logo-adalab{
	width: 150px;
	height: 70px;
	background-color: #fff;
	margin: 0px;
}
nav{
	/*Para desktop justify-content: flex-end;*/
	flex-direction: row;
}
nav ul{
	list-style: none;
}

/*Principal*/
main{
	flex: 1;
}
.backimage{
	height: 100vh;
	background: url('../images/banner_home_v3.jpeg');
	background-size: cover;
	position: relative;
}
.diversidad{
	position: absolute;
	top: 500px;
	left: 200px;
}
.diversidad h1{
	color: #555555;
	font-style: bold;
}
/*Colores
#555555 gris oscuro
#aaaaaa gris clarito
#f5f5f5 gris más clarito
#3CDBC0 azul adalab
#252525 negro
#fff blanco absoluto */
